<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Cola Future Billing Rate</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item">Rate</li>
          <li class="breadcrumb-item">Cola Future Billing Rate</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="card card-warning">
      <div class="card-header">
        <h3 class="card-title">Managment Future Billing Year</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form class="form-horizontal">
        <div class="card-body">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="input-group mb-3 col-sm-10">
              <input type="text" class="form-control" />
              <div class="input-group-append">
                <span class="input-group-text"
                  ><i class="fas fa-search"></i
                ></span>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="accountList" class="col-sm-2 col-form-label"
              >Future Billing Lookup</label
            >
            <div class="col-sm-10">
              <input
                type="email"
                class="form-control"
                id="accountList"
                placeholder="Map to 'Future Billing Rate Lookup' Entity"
              />
            </div>
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <button type="submit" class="btn btn-info btn-sm">Create</button
          >&nbsp;&nbsp;
          <button type="submit" class="btn btn-success btn-sm">Update</button
          >&nbsp;&nbsp;
          <button type="submit" class="btn btn-danger btn-sm">Delete</button
          >&nbsp;&nbsp;
          <button type="submit" class="btn btn-primary btn-sm float-right">
            Cancel
          </button>
        </div>
        <!-- /.card-footer -->
      </form>
    </div>
  </div>
</section>
